body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.coursesContainer {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
}

.courses {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.courseDiv {
  border-radius: 20%;
  display: flex;
  background-color: azure;
  width: 250px;
  height: 170px;
  margin: 10px;
  align-items: center;
  justify-content: center;

  line-height: 75px;
  font-size: 30px;
  background-image: url("https://m.media-amazon.com/images/I/61QrCdBXSTL._SL1100_.jpg");
}

h3 {
  text-decoration: none;
}

.typeCourseInput {
  border: 0;
  background: none;
  position: absolute;
  left: 10px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid azure;
  width: 20%;
  height: 7%;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: large;
}

.typeCourseInput:focus {
  border-color: black;
}
.moodelNav {
  width: 150%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("https://m.media-amazon.com/images/I/61QrCdBXSTL._SL1100_.jpg");
}
.nameMood {
  font-size: 5ch;
  color: azure;
  position: absolute;
  left: 0px;
  top: 25px;
  font-family: "Marck Script", cursive;
}
.courseDetailContainer {
  flex-wrap: wrap;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.titleCourse {
  text-align: left;
  margin-left: 1%;
}
.pdfFile {
  display: flex;
  margin-left: 15%;
}
.courseChapters {
  padding-bottom: 5%;
}
.fileContainer {
  border-bottom: 3px solid rgba(255, 255, 255, 0.189);
  padding-bottom: 3%;
  width: 100%;
}
.quizTitle {
  padding: 10px;
  text-align: start;
}
.quizField {
  border: 2px solid;
  font-size: calc(1rem + 0.8vw);
  height: 600px;
  width: 700px;
  position: absolute;
  top: 10px;
  left: 350px;
  background-color: white;
  align-items: center;
  overflow-y: auto;
}
.examName {
  text-align: center;
}
.examQuestions {
  margin-top: 7%;
  text-align: start;
}
.examContent {
  border: 3px solid rgb(67, 65, 65);
}
.examQuestion {
  margin: 5%;
}
.choicesContent {
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}
.submitExam {
  font-family: "DynaPuff", cursive;
  font-size: calc(1vw + 0.7vh + 0.7vmin);
  font-weight: bold;
  border-radius: 7px;
  width: 60%;
  text-align: center;
  margin-left: 17%;
}
.closeExam {
  border-radius: 50%;
  width: 40px;
  background-color: red;
  position: absolute;
  right: 3px;
}