body {
  position: fixed;
  width:100%;
  height:100%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
}
.coursesContainer {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
}

.courses {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.courseDiv {
  border-radius: 20%;
  display: flex;
  background-color: azure;
  width: 250px;
  height: 170px;
  margin: 10px;
  align-items: center;
  justify-content: center;

  line-height: 75px;
  font-size: 30px;
  background-image: url("https://m.media-amazon.com/images/I/61QrCdBXSTL._SL1100_.jpg");
}

h3 {
  text-decoration: none;
}

.typeCourseInput {
  border: 0;
  background: none;
  position: absolute;
  left: 10px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid azure;
  width: 20%;
  height: 7%;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  font-size: large;
}

.typeCourseInput:focus {
  border-color: black;
}
.moodelNav {
  width: 150%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("https://m.media-amazon.com/images/I/61QrCdBXSTL._SL1100_.jpg");
}
.nameMood {
  font-size: 5ch;
  color: azure;
  position: absolute;
  left: 0px;
  top: 25px;
  font-family: "Marck Script", cursive;
}
