body {  
  width: 95vw; 
  min-height: 85vh; 
  background: url("./bg.jpeg"); 
  background-size: cover;  
}
.App {
  text-align: center;
}

body{
  font-family: sans-serif;	
	background-image: url("./bg.jpeg");	
  width: 95vw;
  min-height: 90vh;
  overflow: hidden;
	background-size:cover;	
}

.hidden{
  display: none;
}


